@model IList<Blog.Models.Post>

<h2>Lista de Posts</h2>

@Html.ActionLink("Novo Post!", "Novo", null, new { @class = "btn btn-primary"})
<table class="table table-striped table-hover table-bordered">
    <caption>Lista dos posts cadastrados no Blog</caption>
    <thead>
        <tr>
            <th>Post</th>
            <th>Categoria</th>
            <th>Publicado Em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( Blog.Models.Post p in Model)
        {
            <tr>
                <td>
                    <h4>@Html.ActionLink(p.Titulo, "Edit", new { Id = p.Id }) </h4>
                    <p>@p.Resumo</p>
                </td>
                <td>@p.Categoria</td>
                <td>
                    @if (p.Publicado)
                    {
                        @Html.Encode(p.Timestamp)
                    }
                    else
                    {
                        @Html.Raw("Não Publicado")
                    }
                </td>
                <td>
                    @Html.ActionLink("Publicar", "Publicar", new { Id = p.Id })
                    @Html.ActionLink("Excluir", "DeletaPost", new { Id = p.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
